body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #eee;
}

img {
  max-width: 100%;
}

a[target]::after {
  content: '↗';
  display: inline-block;
  font-size: 0.75em;
  margin-left: 4px;
  vertical-align: text-top;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

pre {
  overflow-x: auto;
  max-width: 100%;
}
